.task {
    color: white;
    background-color: gray;
    border: 5px black solid;
    margin: 5px;
    width:fit-content;
}

div {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/1859-Martinique.web.jpg/640px-1859-Martinique.web.jpg");
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: contain;
    background-position-y: 0px;
    background-position-x: 0px;
    padding-bottom: 100px;
    
}

body {
    border: 10px black solid;
    padding-bottom: 0px;
    text-align: center;
    
    
    background: linear-gradient(180deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background-repeat: no-repeat;

}


h1 {
    border: 4px black solid;
    background-color: blanchedalmond;
}

ul {
    
    background-color: transparent;
    
}